/* 
============
Variables
============
*/
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);

    /* item colors */
    --clr-item-1: hsl(535, 86%, 17%);
    --clr-item-2: hsl(535, 77%, 27%);
    --clr-item-3: hsl(535, 72%, 37%);
    --clr-item-4: hsl(535, 63%, 48%);

    /* Measures */
    --border-rad: 0.3rem;
}

/* 
=============
Global styles
=============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--clr-primary-4);
}

button {
    padding: 0.5rem;
    color: black;

    margin: 0.5rem;
}

code {
    border: 1px solid white;
    border-radius: var(--border-rad);
    padding: 0 0.1rem;
    /* background-color: gray; */
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: auto;

    background: var(--clr-primary-1);

    list-style-type: none;
}

li {
    background-color: var(--clr-primary-1);
    height: 3rem;
    width: 5rem;
}

li a,
.dropdown {
    display: flex;
    align-items: center;
    background-color: var(--clr-primary-2);
    justify-content: center;
    width: 5rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: white;
    margin: 0.5rem;
}

nav {
    /* display: flex; */
    position: absolute;
    top: 0;
}
/* 
==========
Global classes
==========
*/

.container {
    /* overflows when width: 100vw; */
    /* width: 100vw; */
    height: 100vh;
}

.section {
    width: 80%;
    height: auto;
    margin: 2rem auto;

    text-align: center;
    border-radius: 3px;
}

.left-justify {
    text-align: left;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: 1rem 1rem;
    background-color: var(--clr-item-1);
    border-radius: var(--border-rad);
    padding: 1rem;
}

/* Dropdown menu */

.dropbtn {
    /* display: flex; */
    background-color: var(--clr-primary-2);
    color: white;

    font: inherit;
    /* font-size: 16px; */

    border: none;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

    top: 0;
    left: 100%;

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-content a {
    /* padding: 12px 16px; */
    height: 3rem;
    border-left: 1px var(--clr-primary-4) solid;
}

li a:hover,
.dropdown-content a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--clr-primary-3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slide-in {
    position: relative;
    left: 100%;
    opacity: 0;
}

.slide-in:nth-child(1) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}

.slide-in:nth-child(2) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) 0.1s forwards;
}

.slide-in:nth-child(3) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) 0.2s forwards;
}

@keyframes slide {
    100% {
        opacity: 1;
        left: 0;
    }
}

/* end dropdown menu */

/* Birthday classes */

.birthday {
    position: relative;
    top: 4rem;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    width: 18rem;
    padding: 0;
    opacity: 0;

    transition: all 1s;
}

.birthday:hover {
    transform: scale(102%);
}

@keyframes slide-up {
    100% {
        top: 0;
        opacity: 1;
    }
}

.btn.bday {
    background-color: var(--clr-item-2);
    color: white;
    border-radius: var(--border-rad);
    border: 1px white solid;
}

.btn.bday:hover {
    background-color: var(--clr-item-4);
}

.btn.bday span {
    margin: 0 0.4rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;

    opacity: 0.3;

    border-radius: var(--border-rad);
    border: 1px white solid;
    background-color: var(--clr-item-2);
}

.btn-group:hover {
    opacity: 1;
}

.btn-group button {
    opacity: 0.5;
    margin: 0.2rem;
    border: 1px transparent;
    background-color: transparent;
    border: none;
}

.btn-group button:hover {
    opacity: 1;
    cursor: pointer;
    /*  */
}
/* FontAwesomeIcon is rendered as a svg */
.btn-group button svg {
    font-size: 1rem;
}

.birthday-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--clr-item-4);
}

.birthday img {
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    width: 100%;
    height: 15rem;
}

.birthday h4,
.birthday p {
    color: white;
}
/* 
.birthday table {
    position: relative;
    bottom: -0.5rem;
    background-color: var(--clr-item-2);
    padding: 0.5rem;
    border-spacing: 0.5rem;
} */

.countdown {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -0.5rem;
    background-color: var(--clr-item-2);
    padding: 0.5rem;
    border-spacing: 0.5rem;
    width: 12rem;
}

.progress-wrapper {
    width: 100%;
    border: 1px solid white;

    margin-top: 0.5rem;
}

.progress-bar {
    text-align: left;
    background-color: var(--clr-item-4);
}

.progress-bar span {
    margin: 0 0.2rem;
}
/* Form */

.wrapper {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    backdrop-filter: blur(5px);

    background-color: rgba(0, 0, 0, 0.3);
}

form.birthday-form {
    width: 60%;
    max-width: 40rem;
    height: auto;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;

    background-color: var(--clr-item-3);

    box-shadow: 0 0 4px black;

    border: none;
    border-radius: var(--border-rad);
}

.birthday-form p,
.birthday-form h2 {
    color: white;
}

.birthday-form input {
    padding: 0.3rem;
    color: black;
    border: none;
    border-radius: var(--border-rad);
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.3rem;

    width: 60%;
}

.form-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 1rem;
    top: 0.5rem;

    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 50%;

    /* color: white; */
    background-color: var(--clr-item-2);
    border: 2px white solid;

    color: black;
}

.form-close-btn span {
    font-size: 2rem;
}

.form-close-btn:hover {
    background-color: var(--clr-item-4);
    border: 2px white solid;
    cursor: pointer;
}

/* end Form */
