/* 
============
Variables
============
*/
:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);

    /* item colors */
    --clr-item-1: hsl(535, 86%, 17%);
    --clr-item-2: hsl(535, 77%, 27%);
    --clr-item-3: hsl(535, 72%, 37%);
    --clr-item-4: hsl(535, 63%, 48%);

    /* Tours colors */
    --clr-tour-1: hsl(64, 90%, 60%);
    --clr-tour-2: hsl(64, 70%, 50%);
    --clr-tour-3: hsl(64, 50%, 37%);
    --clr-tour-4: hsl(64, 80%, 20%);

    /* Players app colors*/
    --clr-player-1: hsl(278, 86%, 17%);
    --clr-player-2: hsl(278, 77%, 27%);
    --clr-player-3: hsl(278, 72%, 37%);
    --clr-player-4: hsl(278, 63%, 48%);

    /* Measures */
    --border-rad: 0.3rem;
}

/* 
=============
Global styles
=============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body,
html {
    height: 100%;
}

body {
    background-color: var(--clr-primary-4);
}

button {
    padding: 0.5rem;
    color: black;

    margin: 0.5rem;
}

code {
    border: 1px solid white;
    border-radius: var(--border-rad);
    padding: 0 0.1rem;
    /* background-color: gray; */
    font-family: monospace;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: auto;

    background: var(--clr-primary-1);

    list-style-type: none;
}

li {
    background-color: var(--clr-primary-1);
    height: 3rem;
    width: 5rem;
}

li a,
.dropdown {
    display: flex;
    align-items: center;
    background-color: var(--clr-primary-2);
    justify-content: center;
    width: 5rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    color: white;
    margin: 0.5rem;
}

h1,
h2,
h3 {
    font-family: "Pacifico", cursive;
}

nav {
    /* display: flex; */
    position: absolute;
    top: 0;
}
/* 
==========
Global classes
==========
*/

.btn {
    border-radius: var(--border-rad);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

.container {
    /* overflows when width: 100vw; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.wave-border {
    position: absolute;
    height: 40rem;
    width: 100%;
    z-index: -1;
}

.wave-border path {
    fill: var(--clr-primary-2);
    stroke: none;
}

.section {
    width: 80%;
    height: auto;
    margin: 2rem auto;

    text-align: center;
    border-radius: 3px;
}

.project {
    margin: 4rem auto;
}

.left-justify {
    text-align: left;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: 1rem 1rem;
    background-color: var(--clr-item-1);
    border-radius: var(--border-rad);
    padding: 1rem;
}

/* Dropdown menu */

.dropbtn {
    /* display: flex; */
    background-color: var(--clr-primary-2);
    color: white;

    font: inherit;
    /* font-size: 16px; */

    border: none;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

    top: 0;
    left: 100%;

    border: 2px solid var(--clr-primary-4);

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-content a {
    /* padding: 12px 16px; */
    height: 3rem;
    /* border-left: 1px var(--clr-primary-4) solid; */
}

li a:hover,
.dropdown-content a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--clr-primary-3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slide-in {
    position: relative;
    top: 3rem;
    opacity: 0;
}

.slide-in:nth-child(1) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}

.slide-in:nth-child(2) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) 0.1s forwards;
}

.slide-in:nth-child(3) {
    animation: slide 0.2s cubic-bezier(0.4, 0, 1, 1) 0.2s forwards;
}

@keyframes slide {
    100% {
        opacity: 1;
        top: 0;
    }
}

/* end dropdown menu */

/* ================ */
/* Birthday classes */
/* ================ */
.birthday {
    position: relative;
    top: 4rem;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    width: 18rem;
    padding: 0;
    opacity: 0;

    transition: all 1s;
}

.birthday:hover {
    transform: scale(102%);
}

@keyframes slide-up {
    100% {
        top: 0;
        opacity: 1;
    }
}

.btn.bday {
    background-color: var(--clr-item-2);
    color: white;
    border-radius: var(--border-rad);
    border: 1px white solid;
    cursor: pointer;
}

.btn.bday:hover {
    background-color: var(--clr-item-4);
}

.btn.bday span {
    margin: 0 0.4rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;

    opacity: 0.3;

    border-radius: var(--border-rad);
    border: 1px white solid;
    background-color: var(--clr-item-2);
}

.btn-group:hover {
    opacity: 1;
}

.btn-group button {
    opacity: 0.5;
    margin: 0.2rem;
    border: 1px transparent;
    background-color: transparent;
    border: none;
}

.btn-group button:hover {
    opacity: 1;
    cursor: pointer;
    /*  */
}
/* FontAwesomeIcon is rendered as a svg */
.btn-group button svg {
    font-size: 1rem;
}

.birthday-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--clr-item-4);
}

.birthday img {
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    width: 100%;
    height: 15rem;
}

.birthday h4,
.birthday p {
    color: white;
}
/* 
.birthday table {
    position: relative;
    bottom: -0.5rem;
    background-color: var(--clr-item-2);
    padding: 0.5rem;
    border-spacing: 0.5rem;
} */

.countdown {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -0.5rem;
    background-color: var(--clr-item-2);
    padding: 0.5rem;
    border-spacing: 0.5rem;
    width: 12rem;
}

.progress-wrapper {
    width: 100%;
    border: 1px solid white;

    margin-top: 0.5rem;
}

.progress-bar {
    text-align: left;
    background-color: var(--clr-item-4);
}

.progress-bar span {
    margin: 0 0.2rem;
}
/* Form */

.wrapper {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    backdrop-filter: blur(5px);

    background-color: rgba(0, 0, 0, 0.3);
}

form.birthday-form {
    width: 60%;
    max-width: 40rem;
    height: auto;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;

    background-color: var(--clr-item-3);

    box-shadow: 0 0 4px black;

    border: none;
    border-radius: var(--border-rad);
}

.birthday-form p,
.birthday-form h2 {
    color: white;
}

.birthday-form input {
    padding: 0.3rem;
    color: black;
    border: none;
    border-radius: var(--border-rad);
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.3rem;

    width: 60%;
}

.form-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 1rem;
    top: 0.5rem;

    width: 3rem;
    height: 3rem;

    border: none;
    border-radius: 50%;

    /* color: white; */
    background-color: var(--clr-item-2);
    border: 2px white solid;

    color: black;
}

.form-close-btn span {
    font-size: 2rem;
}

.form-close-btn:hover {
    background-color: var(--clr-item-4);
    border: 2px white solid;
    cursor: pointer;
}

/* end Form */

/* ============= */
/* Tours classes */
/* ============= */

.single-tour {
    display: flex;
    flex-direction: column;

    width: 60%;
    max-width: 1000px;
    height: auto;

    margin: 1rem auto;

    background-color: white;
    box-shadow: 7px 7px var(--clr-tour-2);
}

.single-tour h2,
.single-tour h3,
.single-tour h4,
.single-tour p {
    color: black;
}
.single-tour img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.single-tour footer {
    margin: 1rem;
}

.tour-info {
    display: flex;
    justify-content: space-between;
}

.tour-price {
    padding: 0.25rem;
    border-radius: 0.25rem;
    /* color: var(--clr-tour-3); */
    background-color: var(--clr-tour-1);
}

.single-tour p {
    text-align: left;
    transition: all 0.5s;
}

.tour-btn {
    cursor: pointer;

    background-color: var(--clr-tour-2);
    color: var(--clr-tour-4);

    border-radius: 0.25rem;

    border: 2px solid var(--clr-tour-1);

    text-transform: capitalize;
}

.tour-btn:hover {
    border: 2px solid var(--clr-tour-2);

    /* color: white; */
}

.single-tour span {
    position: relative;
    color: black;
    z-index: 1;
}

.single-tour span:hover {
    cursor: pointer;
}

.single-tour span:hover + .slim {
    transform: rotate(5deg);
}

.slim {
    position: absolute;
    top: 0;
    left: -10%;

    width: 120%;
    height: 100%;

    background-color: var(--clr-tour-1);
    clip-path: polygon(6% 34%, 100% 28%, 90% 77%, 0 81%);

    transform-origin: 0, 0;
    transform: rotate(-2deg);

    transition: 1s all;

    z-index: 0;
}
/* ================ */
/* Player classes */
/* ================ */

.section.players {
    position: relative;
    height: 40rem;
}

.section-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: wheat; */
    height: 100%;
    overflow: hidden;
}

.player-card {
    /* for drag event */
    position: relative;

    display: flex;
    flex-direction: column;

    height: 30rem;
    width: 30rem;

    background-color: white;
    box-shadow: 0 0 4px 2px gray;
    color: black;

    /* for drag event */
    user-select: none;
    /* transition: left 0.2s; */
}

.player-card:hover {
    cursor: move;
}

.player-card-img {
    margin: 1rem auto;

    height: 10rem;
    width: 10rem;

    /* background-color: blue; */

    box-shadow: 6px -2px 0 2px var(--clr-player-4);
    overflow: hidden;
    border-radius: 50%;

    /* for drag event */
    pointer-events: none;
}

.player-card-img img {
    height: 10rem;
    width: 10rem;

    object-fit: cover;
}
.player-card-img span {
    position: absolute;
    left: 30%;

    font-family: Tourney;
    font-size: 4rem;

    color: var(--clr-player-4);
}
.player-card-header {
    display: flex;
    justify-content: center;

    text-transform: capitalize;
    font-size: 2rem;

    /* for drag event */
    pointer-events: none;
}

.player-card-header p:nth-child(2) {
    font-family: Tourney;
    color: var(--clr-player-4);
}

.player-card p,
.player-card h3 {
    color: black;

    /* for drag event */
    pointer-events: none;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    width: 80%;
    margin: 0 auto;

    /* for drag event */
    pointer-events: none;
}

.stat-item {
    display: flex;
    justify-content: space-between;
}

.stat-item p:nth-child(1) {
    font-weight: 100;
}

.stat-item p:nth-child(2) {
    text-transform: capitalize;
}

/* slide  */
.slide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.slide.prevSlide {
    left: 0;
    opacity: 0;
}

.slide.activeSlide {
    opacity: 1;
}

.slide.nextSlide {
    left: 100%;
    opacity: 0;
}

/* end slide */

.btn.matchday {
    background: none;
    font-size: 3rem;
}

.btn.matchday:hover {
    /* background: none; */
    cursor: pointer;
}

.btn.matchday:hover path {
    color: var(--clr-player-4);
}

.btn.matchday.slider-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.btn.matchday.slider-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* Dot array */

.dot-array {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 2rem;

    margin: 0 auto;

    width: 30rem;
    height: 2rem;

    /* background-color: pink; */
}

.dot {
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;

    background-color: var(--clr-player-4);
    transition: all 0.5s;

    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
    z-index: 1;
}

.active-dot {
    box-shadow: 0 0 0 2px var(--clr-player-4);

    background-color: var(--clr-player-1);
}

.hr {
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--clr-player-4);

    top: 50%;
    transform: translateY(-50%);
}

/* ========== */
/* Components */
/* ========== */

.loading {
    font-size: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ProjectLink */

.link-item {
    display: flex;
    justify-content: space-between;

    position: relative;

    height: 10rem;
    max-width: 30rem;
    width: 50%;
    background-color: var(--clr-primary-3);
    margin: 1rem auto;
    z-index: 0;
}

.link-info {
    display: flex;
    flex-direction: column;
}

.link-info h2 {
    text-transform: capitalize;
}

/* Needed to apply box-shadow above the img */
.img-wrap {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.img-wrap:hover {
    box-shadow: 0 0 0 4px inset var(--clr-primary-3);
}

.link-item img {
    position: absolute;
    width: 10rem;
    height: 10rem;

    border: none;

    object-fit: cover;

    z-index: -1;
}

/* SectionTitle */

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.section-title-hr {
    width: 10rem;
    height: 0.5rem;

    clip-path: polygon(6% 0, 100% 0%, 95% 100%, 0 100%);
}
